@mixin button($color-scheme: light-on-highlight, $color-scheme-hover: highlight-on-light) {
  @include colors($color-scheme);
  @include text-style(navigation);
  @include button--hover($color-scheme-hover);

  border: 1px solid;
  padding: $lem / 2;

  .link {
    @include link($color-scheme, no-underline);
  }

  + .button {
    margin-left: $lem;
  }
}
