@mixin tuner__picker {
  .sp-replacer {
    margin: $lem / 4 0;
  }

  // Fixing the color picker
  .sp-picker-container, .sp-palette-container {
    float: right !important;
  }

  .sp-picker-container,
  .sp-input-container {
    width: 300px !important;
  }
}
