@mixin circle($radius: $lem * 2, $color-scheme: none) {
  width: $radius;
  height: $radius;
  border-radius: $radius;

  @if ($color-scheme != none) {
    @include colors($color-scheme);
  }

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
