

// Text style
//
// Typographic settings for different text types.
// Each text type has set a `font`, a `scale`, a `color` and parameters like letter-spacing, max-width or else.
// Everything text uses this `text-style` mixin. We don't set `color` or `font` directly for a text.
//
// Styleguide text-style

// The width of a text block

$text-block-width: 25em; 



// The text mixin
@mixin text-style($variant) {
  
  // Default
  // - The basic settings for a text.
  @if ($variant == 'default') {
    @include font(nimbus-sans-regular);
    @include scale(default);
    @include colors(black-on-white);
    
    letter-spacing: 1.1px;
    
    
  }
  
  // Body text
  // - Settings for long text blocks.
  @if ($variant == 'body-text') {
    @include p;
    
    max-width: 25em;
    
    
  }
  
  // Title
  // - Section titles
  @if ($variant == 'title') {
    @include font(nimbus-sans-black);
    @include border--thick;
    @include uppercase($lem / 8);
    
    
    
  }
  
  // Subtitle
  // - Section subtitles
  @if ($variant == 'subtitle') {
    @include font(nimbus-sans-bold);
    @include colors(white-on-black);
    
    letter-spacing: 1.7px;
    
    
  }
  
  // Menu
  // - Navigation
  @if ($variant == 'menu') {
    @include font(nimbus-sans-black);
    @include border--thick;
    @include uppercase($lem / 8);
    @include scale(large-1);
    
    
    
  }
  
  // Large 1
  // - Large text, like one times the default
  @if ($variant == 'large-1') {
    @include scale(large-1);
    
    
    
  }
  
  // Large
  // - Large text, like five times the default
  @if ($variant == 'large') {
    @include font(nimbus-sans-black);
    @include scale(large-5);
    
    
    
  }
  
  // Small
  // - Small text
  @if ($variant == 'small') {
    @include scale(small-1);
    
    
    
  }
  
  // Section title
  // - Small text on inverted colors
  @if ($variant == 'section-title') {
    @include scale(small-1);
    @include colors(white-on-black);
    @include font(nimbus-sans-bold);
    
    
    
  }
  
  // Foreground text
  // - Text on a background image or video
  @if ($variant == 'foreground-text') {
    @include colors(black-on-white);
    
    padding: $lem / 2;
    opacity: .9 !important;
    
    
  }
  
}


// Text style classes

.text-style--default {
  @include font(nimbus-sans-regular);
  @include scale(default);
  @include colors(black-on-white);
  
  letter-spacing: 1.1px;
  
  
}

.text-style--body-text {
  @include p;
  
  max-width: 25em;
  
  
}

.text-style--title {
  @include font(nimbus-sans-black);
  @include border--thick;
  @include uppercase($lem / 8);
  
  
  
}

.text-style--subtitle {
  @include font(nimbus-sans-bold);
  @include colors(white-on-black);
  
  letter-spacing: 1.7px;
  
  
}

.text-style--menu {
  @include font(nimbus-sans-black);
  @include border--thick;
  @include uppercase($lem / 8);
  @include scale(large-1);
  
  
  
}

.text-style--large-1 {
  @include scale(large-1);
  
  
  
}

.text-style--large {
  @include font(nimbus-sans-black);
  @include scale(large-5);
  
  
  
}

.text-style--small {
  @include scale(small-1);
  
  
  
}

.text-style--section-title {
  @include scale(small-1);
  @include colors(white-on-black);
  @include font(nimbus-sans-bold);
  
  
  
}

.text-style--foreground-text {
  @include colors(black-on-white);
  
  padding: $lem / 2;
  opacity: .9 !important;
  
  
}

