@mixin call-to-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  &__text {
    padding-top: $lem;

    .button {
      @include button(dark-on-highlight);
    }
  }

  .figure {
    @include figure($loading: false);
  }
}
