@mixin different-section__palette {
  justify-content: center;

  @include mobile {
    @include grid('.color-swatch', 2, 10, 10, $lem, $lem);
  }

  @include tablet {
    @include grid('.color-swatch', 4, 10, 10, $lem, $lem);
  }

  @include laptop {
    @include grid('.color-swatch', 4, 10, 10, $lem, $lem);
  }

  @include desktop {
    @include grid('.color-swatch', 6, 10, 10, $lem, $lem);
  }

  .color-swatch {
    width: $lem * 10;
    height: $lem * 5;

    &.shade {
      border: 1px solid;
    }
  }
}
