@mixin color-swatch {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $lem;

  &__name {
    display: flex;
    flex-basis: 100%;
    cursor: pointer;
    margin-bottom: $lem / 2;

    @include text-style(title);
  }

  &__value {
    width: $lem * 6;
    height: $lem * 3;
    border: 1px solid;
    margin-right: $lem / 2;
  }

  &__button {
    display: none;

    &--active {
      display: flex;
    }
  }


  &--active {
    .color-swatch__name {
      &:after {
        content: '/pick from wheel';
        @include text-style(small);
        margin-left: $lem;
        color: red;
      };
    }
  }

}
