@mixin color-swatch($bordered) {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: $lem * 2;
  margin-bottom: $lem * 2;

  .name {
    @include text-style(title);
  }

  .placeholder {
    @include circle(5em);
  }

  #{$bordered} {
    border: 1px solid;
  }
}
