@mixin big-text {
  display: flex;
  flex-direction: column;

  .text1 {
    @include text-style(large);
  }

  .text2 {
    @include text-style(body-text);
    @include text-style(title);
    margin: $lem 0;
  }

  .text3 {
    @include text-style(body-text);
  }
}
