<article class="big-text">
  <h3>Big text</h3>

  <div class="text1">
    The Glitch Palette
  </div>

  <div class="text2">
    A Glitchy Color Palette Generator For The Web
  </div>

  <div class="text3">
    <p>
      There are plenty other color palette generators out there, the most prominent being
      <a href="http://paletton.com/" title="Paletton">Paletton</a>.
    </p>

    <p>
      The Glitchy Palette is created exclusively for the web.
      You can live-test colors and contrast using this very webpage containing the most common web components a website has.
    </p>

    <p>
      And generate a palette with very uncommon color mixing techniques.
    </p>
  </div>
</article>
