@mixin big-text {
  display: flex;
  flex-direction: column;

  .text1 {
    @include text-style(headline);
  }

  .text2 {
    @include text-style(body-text);
    @include text-style(title);
    margin-top: $lem;
  }

  .text3 {
    @include text-style(body-text);
  }
}
