@mixin border--normal($position: bottom) {
  $border-normal: 1px solid;

  @if ($position == top) {
    border-top: $border-normal;
  }

  @if ($position == bottom) {
    border-bottom: $border-normal;
  }

  @if ($position == all) {
    border: $border-normal;
  }
}
