<section class="features">
  <h3 class="features__title">Features</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/screenshot-2_mobile.png, /assets/images/screenshot-2_mobile2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/screenshot-2_mobile.png, /assets/images/screenshot-2_mobile2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/screenshot-2_mobile.png, /assets/images/screenshot-2_mobile2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/screenshot-2_mobile.png, /assets/images/screenshot-2_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/screenshot-2_mobile.png"  alt="Screenshot">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Screenshot
  </figcaption>


</figure>


  <div class="features__list">
    
  </div>
</section>
