@mixin tuner {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    order: 2;
  }


  &__radio {
    @include tuner__radio;
    order: 3;
  }

  @include knob;
  @include tuner__picker;
}
