@mixin tuner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  // The knob
  div {
    &:first-of-type {
      display: inline-flex;
      flex-basis: 100%;
    }
  }

  &__title {
    display: flex;
    flex-basis: 51%;
    justify-content: center;
    order: 3;
  }

  &__modes {
    @include tuner__modes;
  }

  @include knob;
  @include tuner__picker;
}
