@mixin home__color-generator {
  @include grid('section', 2, 2, 2, $lem * 6, 0);
  @include full-page;

  display: none;
  justify-content: center;
  align-items: center;

  &--active {
    display: flex;
  }

  .color-wheel {
    @include color-wheel;
  }

  .color-designer {
    @include color-designer;
  }
}
