// http://codepen.io/shankarcabus/pen/jcyDA

@mixin color-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__circles {
    position: relative;

    .color-circle {
      @include color-circle;
    }
  }
}
