// http://codepen.io/shankarcabus/pen/jcyDA

@mixin color-wheel {
  display: flex;
  align-items: center;

  @include full-page;

  &__circles {
    position: relative;

    $nr_of_wheels: 7;
    $circle_size: $lem * 8;
    $circle_size_growth: 8;

    margin-left: ($circle_size + ($nr_of_wheels - 1) * $circle_size_growth) / 1.75;

    .color-circle {
      @include color-circle($nr_of_wheels, $circle_size, $circle_size_growth);
    }
  }
}
