@mixin color-swatch {
  display: flex;
  flex-direction: column;
  padding: $lem;

  position: relative;

  &__name {
    @include color-swatch__name;
  }

  &__value {
    @include color-swatch__value;
  }

  &__button {
    @include color-swatch__button;
  }

  &__pick {
    @include color-swatch__pick;
  }

  &__contrast {
    @include color-swatch__contrast;
  }

  &--active {
    @include color-swatch--active;
  }

  &.light {
    border: 1px solid;
  }

  &.dark,
  &.highlight,
  &.highlight .color-swatch__pick {
    color: $light;
  }

}
