@mixin different-section {
  display: flex;
  flex-wrap: wrap;

  padding-top: 10vh;
  padding-bottom: 10vh;

  @include mobile {
    padding: $lem;
  }

  @include mobile-and-up {
    @include fixed-width(90vw, padding);
    justify-content: space-between;
    align-items: center;
  }

  @include landscape {
    flex-wrap: nowrap;
  }

  @include desktop {
    @include fixed-width(80vw, padding);
  }


  @include text-style(contrast);


  &__description {
    @include text-style(body-text);
    margin-bottom: $lem;

    @include landscape {
      margin-right: $lem;
      margin-bottom: 0;
    }
  }

  &__palette {
    @include different-section__palette;
  }
}
