@mixin home__family {
  $size: 10em;

  .example {
    position: relative;
    margin: $size + $size / 2 0 0 $size / 2;
  }

  .example1 {
    .color-family {
      @include color-family($blue, $white, $black, 'blue', 'white', 'black', $size);
    }
  }

  .example2 {
    .color-family {
      @include color-family($blue, $whiteB, $blackB, 'blue', 'whiteB', 'blackB', $size);
    }
  }

  .example3 {
    .color-family {
      @include color-family($blue, $whiteC, $blackC, 'blue', 'whiteC', 'blackC', $size);
    }
  }
}
