@mixin tuner {
  margin-bottom: $lem;

  &__title {
    display: flex;
    @include text-style(title);
  }

  &__range {
    @include tuner__range;
  }

  &__radio {
    @include tuner__radio;
  }
}


// Fixing the color picker
.sp-picker-container, .sp-palette-container {
  float: right !important;
}

.sp-picker-container,
.sp-input-container {
  width: 300px !important;
}
