@mixin color-designer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  //padding: $lem;

  .color-tune {
    @include color-tune;
  }

  .color-scheme {
    @include color-scheme;
  }
}
