@mixin color-family__secondary($color1, $color2, $color3, $colorname1, $colorname2, $colorname3, $size) {
  display: flex;
  flex-wrap: wrap;

  .color-swatch--rectangle {
    z-index: -1;

    &:nth-of-type(1),
    &:nth-of-type(3) {
      top: -$size - $size / 2;
    }

    &:nth-of-type(2) {
      top: -$size / 4;
    }
  }

  .#{$colorname1}-#{$colorname2} {
    background-color: mix($color1, $color2, 50%);
  }

  .#{$colorname1}-#{$colorname3} {
    background-color: mix($color1, $color3, 50%);
  }

  .#{$colorname3}-#{$colorname2} {
    background-color: mix($color3, $color2, 50%);
  }
}
