@mixin inverted-text {
  display: flex;
  flex-direction: column;

  margin-top: $lem;

  .text1 {
    @include text-style(body-text);
    @include colors(white-on-black);

    padding: $lem;
    max-width: calc(25em - #{$lem * 2});

    .ul {
      @include ul(underlined);
    }
  }
}
