@mixin inverted-text {
  display: flex;
  flex-direction: column;

  padding: $lem;
  max-width: 25em;

  .text1 {
    @include text-style(body-text);
    @include colors(white-on-black);

    padding: $lem;

    .ul {
      @include ul(underlined);
    }
  }
}
