@mixin fixed-width($size: 80vw, $type: margin) {
  max-width: $size;
  width: 100%;

  $margin: calc((100% - #{$size}) / 2);

  @if ($type == margin) {
    margin: auto $margin;
  }

  @if ($type == padding) {
    padding-left: $margin;
    padding-right: $margin;
  }
}
