@mixin color-family__tertiary($color1, $color2, $color3, $colorname1, $colorname2, $colorname3, $size) {
  display: flex;
  flex-wrap: wrap;

  .color-swatch--rectangle {
    z-index: -1;
    
    &:nth-of-type(1) {
      top: -$size - $size / 2 - $size / 4;
      left: - $size / 2;
    }
  }

  .#{$colorname1}-#{$colorname1}-#{$colorname2} {
    $c: mix($color1, $color2, 50%);
    background-color: mix($color1, $c, 50%);
  }

  .#{$colorname1}-#{$colorname1}-#{$colorname3} {
    $c: mix($color1, $color3, 50%);
    background-color: mix($color1, $c, 50%);
  }

  .#{$colorname1}-#{$colorname3}-#{$colorname2} {
    $c: mix($color3, $color2, 50%);
    background-color: mix($color1, $c, 50%);
  }


  .#{$colorname2}-#{$colorname1}-#{$colorname2} {
    $c: mix($color1, $color2, 50%);
    background-color: mix($color2, $c, 50%);
  }

  .#{$colorname2}-#{$colorname1}-#{$colorname3} {
    $c: mix($color1, $color3, 50%);
    background-color: mix($color2, $c, 50%);
  }

  .#{$colorname2}-#{$colorname3}-#{$colorname2} {
    $c: mix($color3, $color2, 50%);
    background-color: mix($color2, $c, 50%);
  }


  .#{$colorname3}-#{$colorname1}-#{$colorname2} {
    $c: mix($color1, $color2, 50%);
    background-color: mix($color3, $c, 50%);
  }

  .#{$colorname3}-#{$colorname1}-#{$colorname3} {
    $c: mix($color1, $color3, 50%);
    background-color: mix($color3, $c, 50%);
  }

  .#{$colorname3}-#{$colorname3}-#{$colorname2} {
    $c: mix($color3, $color2, 50%);
    background-color: mix($color3, $c, 50%);
  }
}
