// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Primary color
$warm: rgb(0, 203, 204);

// Primary color
$cold: rgb(0, 0, 202);

// Highlighting color
$highlight: rgb(200, 0, 203);

// Shadinging color
$shade: rgb(200, 204, 0);


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'cold-on-warm') {
    color: $cold;
    background-color: $warm;
    
  }

  @if ($name == 'warm-on-cold') {
    color: $warm;
    background-color: $cold;
    
  }

  @if ($name == 'highlight-on-warm') {
    color: $highlight;
    background-color: $warm;
    
  }

  @if ($name == 'highlight-on-cold') {
    color: $highlight;
    background-color: $cold;
    
  }

  @if ($name == 'cold-on-highlight') {
    color: $cold;
    background-color: $highlight;
    
  }

  @if ($name == 'shade-on-warm') {
    color: $shade;
    background-color: $warm;
    
  }

  @if ($name == 'cold-on-shade') {
    color: $cold;
    background-color: $shade;
    
  }

}

// Color classes

.warm {
  background: rgb(0, 203, 204);
};

.cold {
  background: rgb(0, 0, 202);
};

.highlight {
  background: rgb(200, 0, 203);
};

.shade {
  background: rgb(200, 204, 0);
};


// Color pair classes

.cold-on-warm {
  color: $cold;
  background-color: $warm;
  
}

.warm-on-cold {
  color: $warm;
  background-color: $cold;
  
}

.highlight-on-warm {
  color: $highlight;
  background-color: $warm;
  
}

.highlight-on-cold {
  color: $highlight;
  background-color: $cold;
  
}

.cold-on-highlight {
  color: $cold;
  background-color: $highlight;
  
}

.shade-on-warm {
  color: $shade;
  background-color: $warm;
  
}

.cold-on-shade {
  color: $cold;
  background-color: $shade;
  
}

