// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Primary color
$light: rgb(141, 105, 218);

// Primary color
$dark: #D7FFA7;

// Highlighting color
$highlight: rgb(219, 105, 140);

// Shadinging color
$shade: rgb(141, 105, 218);


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'dark-on-light') {
    color: $dark;
    background-color: $light;
    
  }

  @if ($name == 'light-on-dark') {
    color: $light;
    background-color: $dark;
    
  }

  @if ($name == 'highlight-on-light') {
    color: $highlight;
    background-color: $light;
    
  }

  @if ($name == 'highlight-on-dark') {
    color: $highlight;
    background-color: $dark;
    
  }

  @if ($name == 'dark-on-highlight') {
    color: $dark;
    background-color: $highlight;
    
  }

  @if ($name == 'light-on-highlight') {
    color: $light;
    background-color: $highlight;
    
  }

  @if ($name == 'shade-on-light') {
    color: $shade;
    background-color: $light;
    
  }

  @if ($name == 'dark-on-shade') {
    color: $dark;
    background-color: $shade;
    
  }

}

// Color classes

.light {
  background: rgb(141, 105, 218);
};

.dark {
  background: #D7FFA7;
};

.highlight {
  background: rgb(219, 105, 140);
};

.shade {
  background: rgb(141, 105, 218);
};


// Color pair classes

.dark-on-light {
  color: $dark;
  background-color: $light;
  
}

.light-on-dark {
  color: $light;
  background-color: $dark;
  
}

.highlight-on-light {
  color: $highlight;
  background-color: $light;
  
}

.highlight-on-dark {
  color: $highlight;
  background-color: $dark;
  
}

.dark-on-highlight {
  color: $dark;
  background-color: $highlight;
  
}

.light-on-highlight {
  color: $light;
  background-color: $highlight;
  
}

.shade-on-light {
  color: $shade;
  background-color: $light;
  
}

.dark-on-shade {
  color: $dark;
  background-color: $shade;
  
}

