


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Color</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/spectrum.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="https://use.typekit.net/nvy7idl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    
  </head>

  <body>




  <aside class="home__switcher">
  <h3>Switcher</h3>

  <span class='switcher'>x</span>
</aside>

  <section class="home__color-generator home__color-generator--active">
  <h3>Color generator</h3>
  
  <section class="color-wheel">
  <h3>Color wheel</h3>

  <section class="color-wheel__controls">
  <h3>Controls</h3>

  <aside class="layers">
  <h3>Color wheel layers</h3>

  <p>Select layer:</p>
  
</aside>

  <aside class="primaries">
  <h3 class="primaries__title">Primary colors</h3>

  <select class="primary">
    
      <option value="ryb">ryb</option>
    
      <option value="rgb">rgb</option>
    
      <option value="cmyk">cmyk</option>
    
  </select>
</aside>

  <aside class="models">
  <h3 class="models__title">Color model</h3>

  <select class="color-model">
    
      <option value="rgb">rgb</option>
    
      <option value="hsl">hsl</option>
    
      <option value="hsv">hsv</option>
    
      <option value="hsi">hsi</option>
    
      <option value="lab">lab</option>
    
      <option value="lch">lch</option>
    
      <option value="hcl">hcl</option>
    
  </select>
</aside>

</section>

  <section class="color-wheel__wheels">
  <h3>Color wheels</h3>

  
</section>

</section>

  <section class="color-designer">
  <h3>Color designer</h3>

  <section class="color-tune">
  <h3>Color tune</h3>

  
    <aside class="tuner" data-color="#ffffff">
  <h3 class="tuner__title">Lighten</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#ffffff" value="0">


  

  
</aside>

  
    <aside class="tuner" data-color="#000000">
  <h3 class="tuner__title">Darken</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#000000" value="0">


  

  
</aside>

  
    <aside class="tuner" data-color="#cccccc">
  <h3 class="tuner__title">Saturate</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#cccccc" value="0">


  

  
</aside>

  
    <aside class="tuner" data-color="#cccccc">
  <h3 class="tuner__title">Desaturate</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#cccccc" value="0">


  

  
</aside>

  
    <aside class="tuner" data-color="#FFFFE5">
  <h3 class="tuner__title">Luminance</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#FFFFE5" value="0">


  
    <input class="tuner__picker tuner__picker--luminance" type="text" value="#FFFFE5">
  

  
    <aside class="tuner__modes">
  <h3>Tune modes</h3>

  <select class="mode">
    
      <option value="rgb">rgb</option>
    
      <option value="hsl">hsl</option>
    
      <option value="hsv">hsv</option>
    
      <option value="hsi">hsi</option>
    
      <option value="lab">lab</option>
    
      <option value="lch">lch</option>
    
      <option value="hcl">hcl</option>
    
  </select>
</aside>

  
</aside>

  
    <aside class="tuner" data-color="#FFE5FF">
  <h3 class="tuner__title">Mix</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#FFE5FF" value="0">


  
    <input class="tuner__picker tuner__picker--mix" type="text" value="#FFE5FF">
  

  
    <aside class="tuner__modes">
  <h3>Tune modes</h3>

  <select class="mode">
    
      <option value="rgb">rgb</option>
    
      <option value="hsl">hsl</option>
    
      <option value="hsv">hsv</option>
    
      <option value="hsi">hsi</option>
    
      <option value="lab">lab</option>
    
      <option value="lch">lch</option>
    
      <option value="hcl">hcl</option>
    
  </select>
</aside>

  
</aside>

  
    <aside class="tuner" data-color="#FFEDE5">
  <h3 class="tuner__title">Blend</h3>

  
  <input type="text" class="knob" data-min="0" data-max="100" data-background="#FFEDE5" value="0">


  
    <input class="tuner__picker tuner__picker--blend" type="text" value="#FFEDE5">
  

  
    <aside class="tuner__modes">
  <h3>Tune modes</h3>

  <select class="mode">
    
      <option value="multiply">multiply</option>
    
      <option value="darken">darken</option>
    
      <option value="lighten">lighten</option>
    
      <option value="screen">screen</option>
    
      <option value="overlay">overlay</option>
    
      <option value="burn">burn</option>
    
      <option value="dogde">dogde</option>
    
  </select>
</aside>

  
</aside>

  
</section>

  <section class="color-scheme">
  <h3>Color scheme</h3>

  
    <aside class="color-swatch light" data-name="light">
  <h3 class="color-swatch__name">light</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>

  <p class="color-swatch__pick">Pick from wheel</p>

  <div class="color-swatch__contrast">
  
    
  
    
      <p class="dark-on-light"></p>
    
  
    
      <p class="highlight-on-light"></p>
    
  
    
      <p class="shade-on-light"></p>
    
  
</div>

</aside>

  
    <aside class="color-swatch dark" data-name="dark">
  <h3 class="color-swatch__name">dark</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>

  <p class="color-swatch__pick">Pick from wheel</p>

  <div class="color-swatch__contrast">
  
    
      <p class="light-on-dark"></p>
    
  
    
  
    
      <p class="highlight-on-dark"></p>
    
  
    
      <p class="shade-on-dark"></p>
    
  
</div>

</aside>

  
    <aside class="color-swatch highlight" data-name="highlight">
  <h3 class="color-swatch__name">highlight</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>

  <p class="color-swatch__pick">Pick from wheel</p>

  <div class="color-swatch__contrast">
  
    
      <p class="light-on-highlight"></p>
    
  
    
      <p class="dark-on-highlight"></p>
    
  
    
  
    
      <p class="shade-on-highlight"></p>
    
  
</div>

</aside>

  
    <aside class="color-swatch shade" data-name="shade">
  <h3 class="color-swatch__name">shade</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>

  <p class="color-swatch__pick">Pick from wheel</p>

  <div class="color-swatch__contrast">
  
    
      <p class="light-on-shade"></p>
    
  
    
      <p class="dark-on-shade"></p>
    
  
    
      <p class="highlight-on-shade"></p>
    
  
    
  
</div>

</aside>

  
</section>

</section>

</section>

  <section class="home__example">
  <h3>Example</h3>

  <section class="hero">
  <h3>Hero</h3>

  <article class="big-text">
  <h3>Big text</h3>

  <div class="text1">
    The Glitch Palette
  </div>

  <div class="text2">
    A Glitchy Color Palette Generator For The Web
  </div>

  <div class="text3">
    <p>
      There are plenty other color palette generators out there, the most prominent being
      <a href="http://paletton.com/" title="Paletton">Paletton</a>.
    </p>

    <p>
      The Glitchy Palette is created exclusively for the web.
      You can live-test colors and contrast using this very webpage containing the most common web components a website has.
    </p>

    <p>
      And generate a palette with very uncommon color mixing techniques.
    </p>
  </div>
</article>

  <article class="inverted-text">
  <h3>Inverted text</h3>

  <div class="text1">
    We are trying to keep the number of colors used to be minimal.

    <ul class="ul">
      <li class="li">A background color</li>
      <li class="li">A text color</li>
      <li class="li">A highlight color, for example for a link</li>
      <li class="li">A shader color, for example for backgrounds</a>
    </ul>
  </div>

</article>

</section>

  <article class="different-section">
  <h3>Different section</h3>

  <div class="different-section__description">
    <p>There is (always) a need to separate big content chunks&mdash;sections&mdash;from each other with high contrast backgrounds.</p>
    <p>This would be an example for that.</p>
  </div>

  <div class="different-section__palette">
    
      <div class="color-swatch light"></div>
    
      <div class="color-swatch dark"></div>
    
      <div class="color-swatch highlight"></div>
    
      <div class="color-swatch shade"></div>
    
  </div>
</article>

  <section class="call-to-action">
  <h3>Call to action</h3>

  <aside class="call-to-action__text">
    <h3>Call to action text</h3>

    
    <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/try-it-for-yourself" title="Try it for yourself">Try it for yourself</a>

</div>

  </aside>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/screenshot-1_desktop.png, /assets/images/screenshot-1_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/screenshot-1_laptop.png, /assets/images/screenshot-1_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/screenshot-1_tablet.png, /assets/images/screenshot-1_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/screenshot-1_mobile.png, /assets/images/screenshot-1_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/screenshot-1_laptop.png"  alt="Screenshot">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Screenshot
  </figcaption>


</figure>

</section>

  
  <section class="features">
  <h3>Features</h3>

  
    <article class="feature">
  <h3 class="feature__title">Powerful color tuning system</h3>

  <div class="feature__description">
    
      <p>Mix and match colors not just on the RGB scale but using HSL, CMYK, Cieluv and 4 more.</p>
    
  </div>
</article>

  
    <article class="feature">
  <h3 class="feature__title">Warm and cold colors</h3>

  <div class="feature__description">
    
      <p>The color wheel is constructed in such way the left part displays the warm colors, the right part the cold colors.</p>
    
      <p>Choose low contrast colors from the same part of the wheel, high contrast colors from the opposite part of the wheel.</p>
    
  </div>
</article>

  
    <article class="feature">
  <h3 class="feature__title">Better Tint, Shade and Tone</h3>

  <div class="feature__description">
    
      <p>By default all other color palette creators use white, black and gray for basic color altering operations.</p>
    
      <p>With this system you can adjust these values with a nifty color picker and make your palette more unique.</p>
    
  </div>
</article>

  
    <article class="feature">
  <h3 class="feature__title">Mix, Blend like in Photoshop</h3>

  <div class="feature__description">
    
      <p>Beside changing the brightness and the saturation of your scheme you can also fine tune the luminosity, mix new colors in, and use Photoshop like blending actions like multiply, darken &amp; co.</p>
    
  </div>
</article>

  
    <article class="feature">
  <h3 class="feature__title">Glitch included</h3>

  <div class="feature__description">
    
      <p>Some of the tuners are not perfect. If you raise the Luminace to 30% then lower back to 0% you won&#39;t find the original color scheme.</p>
    
      <p>This is good. It makes you create more different color schemes, outside of the box.</p>
    
  </div>
</article>

  
</section>

  <section class="footer">
  <h3>Footer</h3>

  <div>
    made in the woods by <a href="http://metamn.io">metamn</a>.
  </div>

  <div>
    2015
  </div>
</section>

</section>








<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


    <script src="/assets/scripts/chroma.min.js"></script>
  
    <script src="/assets/scripts/d3.min.js"></script>
  
    <script src="/assets/scripts/spectrum.js"></script>
  
    <script src="/assets/scripts/jquery.knob.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

