


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Color</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/spectrum.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="https://use.typekit.net/nvy7idl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    
  </head>

  <body>




  <aside class="home__switcher">
  <h3>Switcher</h3>

  <span class='switcher'>x</span>
</aside>

  <section class="home__color-generator home__color-generator--active">
  <h3>Color generator</h3>

  <section class="color-wheel">
  <h3>Color wheel</h3>

  <div class="color-wheel__circles">
    
    
      
      <article class="color-circle color-circle--1">
  <h3>Color circle 1</h3>

  <ul class="colors">
    
    
      
        <li class="color color-1-1" data-class="color-1-1"></li>
      
    
      
        <li class="color color-1-2" data-class="color-1-2"></li>
      
    
      
        <li class="color color-1-3" data-class="color-1-3"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--2">
  <h3>Color circle 2</h3>

  <ul class="colors">
    
    
      
        <li class="color color-2-1" data-class="color-2-1"></li>
      
    
      
        <li class="color color-2-2" data-class="color-2-2"></li>
      
    
      
        <li class="color color-2-3" data-class="color-2-3"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--3">
  <h3>Color circle 3</h3>

  <ul class="colors">
    
    
      
        <li class="color color-3-1" data-class="color-3-1"></li>
      
    
      
        <li class="color color-3-2" data-class="color-3-2"></li>
      
    
      
        <li class="color color-3-3" data-class="color-3-3"></li>
      
    
      
        <li class="color color-3-4" data-class="color-3-4"></li>
      
    
      
        <li class="color color-3-5" data-class="color-3-5"></li>
      
    
      
        <li class="color color-3-6" data-class="color-3-6"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--4">
  <h3>Color circle 4</h3>

  <ul class="colors">
    
    
      
        <li class="color color-4-1" data-class="color-4-1"></li>
      
    
      
        <li class="color color-4-2" data-class="color-4-2"></li>
      
    
      
        <li class="color color-4-3" data-class="color-4-3"></li>
      
    
      
        <li class="color color-4-4" data-class="color-4-4"></li>
      
    
      
        <li class="color color-4-5" data-class="color-4-5"></li>
      
    
      
        <li class="color color-4-6" data-class="color-4-6"></li>
      
    
      
        <li class="color color-4-7" data-class="color-4-7"></li>
      
    
      
        <li class="color color-4-8" data-class="color-4-8"></li>
      
    
      
        <li class="color color-4-9" data-class="color-4-9"></li>
      
    
      
        <li class="color color-4-10" data-class="color-4-10"></li>
      
    
      
        <li class="color color-4-11" data-class="color-4-11"></li>
      
    
      
        <li class="color color-4-12" data-class="color-4-12"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--5">
  <h3>Color circle 5</h3>

  <ul class="colors">
    
    
      
        <li class="color color-5-1" data-class="color-5-1"></li>
      
    
      
        <li class="color color-5-2" data-class="color-5-2"></li>
      
    
      
        <li class="color color-5-3" data-class="color-5-3"></li>
      
    
      
        <li class="color color-5-4" data-class="color-5-4"></li>
      
    
      
        <li class="color color-5-5" data-class="color-5-5"></li>
      
    
      
        <li class="color color-5-6" data-class="color-5-6"></li>
      
    
      
        <li class="color color-5-7" data-class="color-5-7"></li>
      
    
      
        <li class="color color-5-8" data-class="color-5-8"></li>
      
    
      
        <li class="color color-5-9" data-class="color-5-9"></li>
      
    
      
        <li class="color color-5-10" data-class="color-5-10"></li>
      
    
      
        <li class="color color-5-11" data-class="color-5-11"></li>
      
    
      
        <li class="color color-5-12" data-class="color-5-12"></li>
      
    
      
        <li class="color color-5-13" data-class="color-5-13"></li>
      
    
      
        <li class="color color-5-14" data-class="color-5-14"></li>
      
    
      
        <li class="color color-5-15" data-class="color-5-15"></li>
      
    
      
        <li class="color color-5-16" data-class="color-5-16"></li>
      
    
      
        <li class="color color-5-17" data-class="color-5-17"></li>
      
    
      
        <li class="color color-5-18" data-class="color-5-18"></li>
      
    
      
        <li class="color color-5-19" data-class="color-5-19"></li>
      
    
      
        <li class="color color-5-20" data-class="color-5-20"></li>
      
    
      
        <li class="color color-5-21" data-class="color-5-21"></li>
      
    
      
        <li class="color color-5-22" data-class="color-5-22"></li>
      
    
      
        <li class="color color-5-23" data-class="color-5-23"></li>
      
    
      
        <li class="color color-5-24" data-class="color-5-24"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--6">
  <h3>Color circle 6</h3>

  <ul class="colors">
    
    
      
        <li class="color color-6-1" data-class="color-6-1"></li>
      
    
      
        <li class="color color-6-2" data-class="color-6-2"></li>
      
    
      
        <li class="color color-6-3" data-class="color-6-3"></li>
      
    
      
        <li class="color color-6-4" data-class="color-6-4"></li>
      
    
      
        <li class="color color-6-5" data-class="color-6-5"></li>
      
    
      
        <li class="color color-6-6" data-class="color-6-6"></li>
      
    
      
        <li class="color color-6-7" data-class="color-6-7"></li>
      
    
      
        <li class="color color-6-8" data-class="color-6-8"></li>
      
    
      
        <li class="color color-6-9" data-class="color-6-9"></li>
      
    
      
        <li class="color color-6-10" data-class="color-6-10"></li>
      
    
      
        <li class="color color-6-11" data-class="color-6-11"></li>
      
    
      
        <li class="color color-6-12" data-class="color-6-12"></li>
      
    
      
        <li class="color color-6-13" data-class="color-6-13"></li>
      
    
      
        <li class="color color-6-14" data-class="color-6-14"></li>
      
    
      
        <li class="color color-6-15" data-class="color-6-15"></li>
      
    
      
        <li class="color color-6-16" data-class="color-6-16"></li>
      
    
      
        <li class="color color-6-17" data-class="color-6-17"></li>
      
    
      
        <li class="color color-6-18" data-class="color-6-18"></li>
      
    
      
        <li class="color color-6-19" data-class="color-6-19"></li>
      
    
      
        <li class="color color-6-20" data-class="color-6-20"></li>
      
    
      
        <li class="color color-6-21" data-class="color-6-21"></li>
      
    
      
        <li class="color color-6-22" data-class="color-6-22"></li>
      
    
      
        <li class="color color-6-23" data-class="color-6-23"></li>
      
    
      
        <li class="color color-6-24" data-class="color-6-24"></li>
      
    
      
        <li class="color color-6-25" data-class="color-6-25"></li>
      
    
      
        <li class="color color-6-26" data-class="color-6-26"></li>
      
    
      
        <li class="color color-6-27" data-class="color-6-27"></li>
      
    
      
        <li class="color color-6-28" data-class="color-6-28"></li>
      
    
      
        <li class="color color-6-29" data-class="color-6-29"></li>
      
    
      
        <li class="color color-6-30" data-class="color-6-30"></li>
      
    
      
        <li class="color color-6-31" data-class="color-6-31"></li>
      
    
      
        <li class="color color-6-32" data-class="color-6-32"></li>
      
    
      
        <li class="color color-6-33" data-class="color-6-33"></li>
      
    
      
        <li class="color color-6-34" data-class="color-6-34"></li>
      
    
      
        <li class="color color-6-35" data-class="color-6-35"></li>
      
    
      
        <li class="color color-6-36" data-class="color-6-36"></li>
      
    
      
        <li class="color color-6-37" data-class="color-6-37"></li>
      
    
      
        <li class="color color-6-38" data-class="color-6-38"></li>
      
    
      
        <li class="color color-6-39" data-class="color-6-39"></li>
      
    
      
        <li class="color color-6-40" data-class="color-6-40"></li>
      
    
      
        <li class="color color-6-41" data-class="color-6-41"></li>
      
    
      
        <li class="color color-6-42" data-class="color-6-42"></li>
      
    
      
        <li class="color color-6-43" data-class="color-6-43"></li>
      
    
      
        <li class="color color-6-44" data-class="color-6-44"></li>
      
    
      
        <li class="color color-6-45" data-class="color-6-45"></li>
      
    
      
        <li class="color color-6-46" data-class="color-6-46"></li>
      
    
      
        <li class="color color-6-47" data-class="color-6-47"></li>
      
    
      
        <li class="color color-6-48" data-class="color-6-48"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
      
      <article class="color-circle color-circle--7">
  <h3>Color circle 7</h3>

  <ul class="colors">
    
    
      
        <li class="color color-7-1" data-class="color-7-1"></li>
      
    
      
        <li class="color color-7-2" data-class="color-7-2"></li>
      
    
      
        <li class="color color-7-3" data-class="color-7-3"></li>
      
    
      
        <li class="color color-7-4" data-class="color-7-4"></li>
      
    
      
        <li class="color color-7-5" data-class="color-7-5"></li>
      
    
      
        <li class="color color-7-6" data-class="color-7-6"></li>
      
    
      
        <li class="color color-7-7" data-class="color-7-7"></li>
      
    
      
        <li class="color color-7-8" data-class="color-7-8"></li>
      
    
      
        <li class="color color-7-9" data-class="color-7-9"></li>
      
    
      
        <li class="color color-7-10" data-class="color-7-10"></li>
      
    
      
        <li class="color color-7-11" data-class="color-7-11"></li>
      
    
      
        <li class="color color-7-12" data-class="color-7-12"></li>
      
    
      
        <li class="color color-7-13" data-class="color-7-13"></li>
      
    
      
        <li class="color color-7-14" data-class="color-7-14"></li>
      
    
      
        <li class="color color-7-15" data-class="color-7-15"></li>
      
    
      
        <li class="color color-7-16" data-class="color-7-16"></li>
      
    
      
        <li class="color color-7-17" data-class="color-7-17"></li>
      
    
      
        <li class="color color-7-18" data-class="color-7-18"></li>
      
    
      
        <li class="color color-7-19" data-class="color-7-19"></li>
      
    
      
        <li class="color color-7-20" data-class="color-7-20"></li>
      
    
      
        <li class="color color-7-21" data-class="color-7-21"></li>
      
    
      
        <li class="color color-7-22" data-class="color-7-22"></li>
      
    
      
        <li class="color color-7-23" data-class="color-7-23"></li>
      
    
      
        <li class="color color-7-24" data-class="color-7-24"></li>
      
    
      
        <li class="color color-7-25" data-class="color-7-25"></li>
      
    
      
        <li class="color color-7-26" data-class="color-7-26"></li>
      
    
      
        <li class="color color-7-27" data-class="color-7-27"></li>
      
    
      
        <li class="color color-7-28" data-class="color-7-28"></li>
      
    
      
        <li class="color color-7-29" data-class="color-7-29"></li>
      
    
      
        <li class="color color-7-30" data-class="color-7-30"></li>
      
    
      
        <li class="color color-7-31" data-class="color-7-31"></li>
      
    
      
        <li class="color color-7-32" data-class="color-7-32"></li>
      
    
      
        <li class="color color-7-33" data-class="color-7-33"></li>
      
    
      
        <li class="color color-7-34" data-class="color-7-34"></li>
      
    
      
        <li class="color color-7-35" data-class="color-7-35"></li>
      
    
      
        <li class="color color-7-36" data-class="color-7-36"></li>
      
    
      
        <li class="color color-7-37" data-class="color-7-37"></li>
      
    
      
        <li class="color color-7-38" data-class="color-7-38"></li>
      
    
      
        <li class="color color-7-39" data-class="color-7-39"></li>
      
    
      
        <li class="color color-7-40" data-class="color-7-40"></li>
      
    
      
        <li class="color color-7-41" data-class="color-7-41"></li>
      
    
      
        <li class="color color-7-42" data-class="color-7-42"></li>
      
    
      
        <li class="color color-7-43" data-class="color-7-43"></li>
      
    
      
        <li class="color color-7-44" data-class="color-7-44"></li>
      
    
      
        <li class="color color-7-45" data-class="color-7-45"></li>
      
    
      
        <li class="color color-7-46" data-class="color-7-46"></li>
      
    
      
        <li class="color color-7-47" data-class="color-7-47"></li>
      
    
      
        <li class="color color-7-48" data-class="color-7-48"></li>
      
    
      
        <li class="color color-7-49" data-class="color-7-49"></li>
      
    
      
        <li class="color color-7-50" data-class="color-7-50"></li>
      
    
      
        <li class="color color-7-51" data-class="color-7-51"></li>
      
    
      
        <li class="color color-7-52" data-class="color-7-52"></li>
      
    
      
        <li class="color color-7-53" data-class="color-7-53"></li>
      
    
      
        <li class="color color-7-54" data-class="color-7-54"></li>
      
    
      
        <li class="color color-7-55" data-class="color-7-55"></li>
      
    
      
        <li class="color color-7-56" data-class="color-7-56"></li>
      
    
      
        <li class="color color-7-57" data-class="color-7-57"></li>
      
    
      
        <li class="color color-7-58" data-class="color-7-58"></li>
      
    
      
        <li class="color color-7-59" data-class="color-7-59"></li>
      
    
      
        <li class="color color-7-60" data-class="color-7-60"></li>
      
    
      
        <li class="color color-7-61" data-class="color-7-61"></li>
      
    
      
        <li class="color color-7-62" data-class="color-7-62"></li>
      
    
      
        <li class="color color-7-63" data-class="color-7-63"></li>
      
    
      
        <li class="color color-7-64" data-class="color-7-64"></li>
      
    
      
        <li class="color color-7-65" data-class="color-7-65"></li>
      
    
      
        <li class="color color-7-66" data-class="color-7-66"></li>
      
    
      
        <li class="color color-7-67" data-class="color-7-67"></li>
      
    
      
        <li class="color color-7-68" data-class="color-7-68"></li>
      
    
      
        <li class="color color-7-69" data-class="color-7-69"></li>
      
    
      
        <li class="color color-7-70" data-class="color-7-70"></li>
      
    
      
        <li class="color color-7-71" data-class="color-7-71"></li>
      
    
      
        <li class="color color-7-72" data-class="color-7-72"></li>
      
    
      
        <li class="color color-7-73" data-class="color-7-73"></li>
      
    
      
        <li class="color color-7-74" data-class="color-7-74"></li>
      
    
      
        <li class="color color-7-75" data-class="color-7-75"></li>
      
    
      
        <li class="color color-7-76" data-class="color-7-76"></li>
      
    
      
        <li class="color color-7-77" data-class="color-7-77"></li>
      
    
      
        <li class="color color-7-78" data-class="color-7-78"></li>
      
    
      
        <li class="color color-7-79" data-class="color-7-79"></li>
      
    
      
        <li class="color color-7-80" data-class="color-7-80"></li>
      
    
      
        <li class="color color-7-81" data-class="color-7-81"></li>
      
    
      
        <li class="color color-7-82" data-class="color-7-82"></li>
      
    
      
        <li class="color color-7-83" data-class="color-7-83"></li>
      
    
      
        <li class="color color-7-84" data-class="color-7-84"></li>
      
    
      
        <li class="color color-7-85" data-class="color-7-85"></li>
      
    
      
        <li class="color color-7-86" data-class="color-7-86"></li>
      
    
      
        <li class="color color-7-87" data-class="color-7-87"></li>
      
    
      
        <li class="color color-7-88" data-class="color-7-88"></li>
      
    
      
        <li class="color color-7-89" data-class="color-7-89"></li>
      
    
      
        <li class="color color-7-90" data-class="color-7-90"></li>
      
    
      
        <li class="color color-7-91" data-class="color-7-91"></li>
      
    
      
        <li class="color color-7-92" data-class="color-7-92"></li>
      
    
      
        <li class="color color-7-93" data-class="color-7-93"></li>
      
    
      
        <li class="color color-7-94" data-class="color-7-94"></li>
      
    
      
        <li class="color color-7-95" data-class="color-7-95"></li>
      
    
      
        <li class="color color-7-96" data-class="color-7-96"></li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</article>

    
  </div>
</section>


  
  <section class="color-tune">
  <h3>Color tune</h3>

  <article class="color-tune__tuners">
  <h3>Tuners</h3>

  
    <aside class="tuner" data-color="#ffffff">
  <h3 class="tuner__title">Tint</h3>

  <p class="tuner__description">Lighten / Brightness / Add white</p>

  
    
    <input class="tuner__colorpicker tuner__colorpicker--tint" type="text" value="#ffffff">
  

  <aside class="tuner__range tuner__range--with-margin" data-name="tint" data-value="0">
  <h3>Range for Tint</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="0">
  <span class="end">100%</span>
</aside>


  
</aside>

  
    <aside class="tuner" data-color="#000000">
  <h3 class="tuner__title">Shade</h3>

  <p class="tuner__description">Darken / Add black</p>

  
    
    <input class="tuner__colorpicker tuner__colorpicker--shade" type="text" value="#000000">
  

  <aside class="tuner__range tuner__range--with-margin" data-name="shade" data-value="0">
  <h3>Range for Shade</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="0">
  <span class="end">100%</span>
</aside>


  
</aside>

  
    <aside class="tuner" data-color="#cccccc">
  <h3 class="tuner__title">Tone</h3>

  <p class="tuner__description">Saturation / Intensity / Add gray</p>

  
    
    <input class="tuner__colorpicker tuner__colorpicker--tone" type="text" value="#cccccc">
  

  <aside class="tuner__range tuner__range--with-margin" data-name="tone" data-value="50">
  <h3>Range for Tone</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="50">
  <span class="end">100%</span>
</aside>


  
</aside>

  
    <aside class="tuner" data-color="#cc99cc">
  <h3 class="tuner__title">Luminance</h3>

  <p class="tuner__description">Set luminosity</p>

  

  <aside class="tuner__range " data-name="luminance" data-value="0">
  <h3>Range for Luminance</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="0">
  <span class="end">100%</span>
</aside>


  
    <aside class="tuner__radio">
  <h3>Radio input</h3>

  
    
      
    
    <input class="radio" type="radio" name="luminance" value="rgb" checked="checked">rgb
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="hsl" checked="">hsl
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="hsv" checked="">hsv
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="hsi" checked="">hsi
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="lab" checked="">lab
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="lch" checked="">lch
  
    
      
    
    <input class="radio" type="radio" name="luminance" value="hcl" checked="">hcl
  
</aside>

  
</aside>

  
    <aside class="tuner" data-color="#cc99cc">
  <h3 class="tuner__title">Mix</h3>

  <p class="tuner__description">Mix colors</p>

  
    
    <input class="tuner__colorpicker tuner__colorpicker--mix" type="text" value="#cc99cc">
  

  <aside class="tuner__range tuner__range--with-margin" data-name="mix" data-value="0">
  <h3>Range for Mix</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="0">
  <span class="end">100%</span>
</aside>


  
    <aside class="tuner__radio">
  <h3>Radio input</h3>

  
    
      
    
    <input class="radio" type="radio" name="mix" value="rgb" checked="checked">rgb
  
    
      
    
    <input class="radio" type="radio" name="mix" value="hsl" checked="">hsl
  
    
      
    
    <input class="radio" type="radio" name="mix" value="hsv" checked="">hsv
  
    
      
    
    <input class="radio" type="radio" name="mix" value="hsi" checked="">hsi
  
    
      
    
    <input class="radio" type="radio" name="mix" value="lab" checked="">lab
  
    
      
    
    <input class="radio" type="radio" name="mix" value="lch" checked="">lch
  
    
      
    
    <input class="radio" type="radio" name="mix" value="hcl" checked="">hcl
  
</aside>

  
</aside>

  
    <aside class="tuner" data-color="3c990c">
  <h3 class="tuner__title">Blend</h3>

  <p class="tuner__description">Blend colors</p>

  
    
    <input class="tuner__colorpicker tuner__colorpicker--blend" type="text" value="3c990c">
  

  <aside class="tuner__range tuner__range--with-margin" data-name="blend" data-value="0">
  <h3>Range for Blend</h3>

  <span class="start">0</span>
  <input class="range" type="range" min="0" max="100" value="0">
  <span class="end">100%</span>
</aside>


  
    <aside class="tuner__radio">
  <h3>Radio input</h3>

  
    
      
    
    <input class="radio" type="radio" name="blend" value="multiply" checked="checked">multiply
  
    
      
    
    <input class="radio" type="radio" name="blend" value="darken" checked="">darken
  
    
      
    
    <input class="radio" type="radio" name="blend" value="lighten" checked="">lighten
  
    
      
    
    <input class="radio" type="radio" name="blend" value="screen" checked="">screen
  
    
      
    
    <input class="radio" type="radio" name="blend" value="overlay" checked="">overlay
  
    
      
    
    <input class="radio" type="radio" name="blend" value="burn" checked="">burn
  
    
      
    
    <input class="radio" type="radio" name="blend" value="dogde" checked="">dogde
  
</aside>

  
</aside>

  
</article>

</section>


  <section class="color-scheme">
  <h3>Color scheme</h3>

  <article class="color-scheme__palette">
  <h3>Palette</h3>

  
    <aside class="color-swatch" data-name="background">
  <h3 class="color-swatch__name">background</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>
</aside>

  
    <aside class="color-swatch" data-name="text">
  <h3 class="color-swatch__name">text</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>
</aside>

  
    <aside class="color-swatch" data-name="highlight">
  <h3 class="color-swatch__name">highlight</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>
</aside>

  
    <aside class="color-swatch" data-name="shade">
  <h3 class="color-swatch__name">shade</h3>

  <input class="color-swatch__value" type="text">
  <button class="color-swatch__button" type="button">Edit</button>
</aside>

  
</article>

</section>

</section>

  <section class="home__example">
  <h3>Example</h3>

  <article class="big-text">
  <h3>Big text</h3>

  <div class="text">
    Glitch Color Palette Generator For The Web
  </div>
</article>

</section>







<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


    <script src="/assets/scripts/spectrum.js"></script>
  
    <script src="/assets/scripts/chroma.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

