


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Color</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="https://use.typekit.net/nvy7idl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    
  </head>

  <body>




  <section class="home__family">
  <h3 class="title--display">Family</h3>

  <div class="text">
    <p>
    </p>
  </div>


  <div class="example example1">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="white placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="black placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    <article class="color-family">
  <h3>secondary</h3>

  
    <aside class="color-family__secondary">
  <h3>Secondary</h3>

  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-white placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-black placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="black-white placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  

  
</article>


    
    <article class="color-family">
  <h3>tertiary</h3>

  

  
    <aside class="color-family__tertiary">
  <h3>Tertiary</h3>

  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-white placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-black placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-black-white placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="white-blue-white placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="white-blue-black placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="white-black-white placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="black-blue-white placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="black-blue-black placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="black-black-white placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  
</article>

  </div>

  <div class="example example2">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="whiteB placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="blackB placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    <article class="color-family">
  <h3>secondary</h3>

  
    <aside class="color-family__secondary">
  <h3>Secondary</h3>

  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-whiteB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blackB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackB-whiteB placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  

  
</article>


    
    <article class="color-family">
  <h3>tertiary</h3>

  

  
    <aside class="color-family__tertiary">
  <h3>Tertiary</h3>

  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-whiteB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-blackB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blackB-whiteB placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteB-blue-whiteB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteB-blue-blackB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteB-blackB-whiteB placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackB-blue-whiteB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackB-blue-blackB placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackB-blackB-whiteB placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  
</article>

  </div>

  <div class="example example3">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="whiteC placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="blackC placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    <article class="color-family">
  <h3>secondary</h3>

  
    <aside class="color-family__secondary">
  <h3>Secondary</h3>

  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-whiteC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blackC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackC-whiteC placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  

  
</article>


    
    <article class="color-family">
  <h3>tertiary</h3>

  

  
    <aside class="color-family__tertiary">
  <h3>Tertiary</h3>

  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-whiteC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blue-blackC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blue-blackC-whiteC placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteC-blue-whiteC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteC-blue-blackC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="whiteC-blackC-whiteC placeholder"></span>
  <span class="name"></span>
</div>



  
  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackC-blue-whiteC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackC-blue-blackC placeholder"></span>
  <span class="name"></span>
</div>


  
  
  
  <div class="color-swatch--rectangle">
  <span class="blackC-blackC-whiteC placeholder"></span>
  <span class="name"></span>
</div>

<aside>

  
</article>

  </div>
</section>


  
  <section class="home__hierarchy">
  <h3 class="title--display">Hierarchy</h3>

  <div class="text">
    <p>
      Colors don't exist alone. There is no white on white. If is then it's just simple full white.
    </p>

    <p>
      Once a color is paired with another color they differ; they become engaged in a relationship. They interact.
    </p>

    <p>
      Their interaction is multiple but most importantly is about contrast / hierarchy.
      Which is the dominating color bringing forward it's content? Or a dominated color bringing into background it's content?
    </p>

    <p>
      Hierarchy exists on a monochromatic composition too; we don't have to add vivid colors to differentiate.
      Vivid colors are&mdash;only and only&mdash;to bring in the mood.
    </p>

    <p>
      Source: <a href="https://robots.thoughtbot.com/Its-only-color">It's Only Color</a>
    </p>
  </div>

  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/editorial-wire-bw_desktop.gif, /assets/images/editorial-wire-bw_desktop2x.gif 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/editorial-wire-bw_laptop.gif, /assets/images/editorial-wire-bw_laptop2x.gif 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/editorial-wire-bw_tablet.gif, /assets/images/editorial-wire-bw_tablet2x.gif 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/editorial-wire-bw_mobile.gif, /assets/images/editorial-wire-bw_mobile2x.gif 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/editorial-wire-bw_laptop.gif"  alt="Grayscale hierarchy">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Grayscale hierarchy
  </figcaption>


</figure>

</section>


  
  <section class="home__warm-and-cool">
  <h3 class="title--display">Warm and cool</h3>

  <div class="text">
    <p>
      By the most simple classification colors are either warm&mdash;active&mdash;light or cool&mdash;chill&mdash;dark.
      They are either highlighting or shading something.
    </p>

    <p>
      And warm colors always win over cool colors.
    </p>

    <p>
      Cool colors are used for backgrounds, warm colors are used for important content.
    </p>

    <p>
      Cool colors are blue, green, violet. Warm colors are red, orange, yellow.
    </p>
  </div>

  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/albert-wire_desktop.gif, /assets/images/albert-wire_desktop2x.gif 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/albert-wire_laptop.gif, /assets/images/albert-wire_laptop2x.gif 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/albert-wire_tablet.gif, /assets/images/albert-wire_tablet2x.gif 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/albert-wire_mobile.gif, /assets/images/albert-wire_mobile2x.gif 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/albert-wire_laptop.gif"  alt="Color hierarchy">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Color hierarchy
  </figcaption>


</figure>

</section>


  <section class="home__highlight-and-shade">
  <h3 class="title--display">Highlight and shade</h3>

  <div class="text">
    <p>
      Beside the three main colors we will need others for gradients and decorations.
    </p>

    <p>
      <a href="http://alistapart.com/article/mixing-color-for-the-web-with-sass">This technique</a>
      uses a main color and a highlight and shading color to create a gradient palette
      by transitioning the main color to the highlight and shading colors.
    </p>

    <p>
      It's puncte forte is the usage of the mix() SASS mixin instead of the lighten() and darken() to offer
      a better, uniform transition.
    </p>
  </div>

  <div class="example example1">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="white placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="black placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    
    <article class="mix-colors mix-colors--tint">
  <h3 class="title">Tint</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>


    
    <article class="mix-colors mix-colors--shade">
  <h3 class="title">Shade</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>

  </div>

  <div class="example example2">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="whiteB placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="blackB placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    
    <article class="mix-colors mix-colors--tint">
  <h3 class="title">Tint</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>


    
    <article class="mix-colors mix-colors--shade">
  <h3 class="title">Shade</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>

  </div>

  <div class="example example3">
    
    <article class="main-colors">
  <h3 class="title">Main colors</h3>

  
    <div class="color-swatch">
  <span class="blue placeholder"></span>
  <span class="description">Main color</span>
</div>

  
    <div class="color-swatch">
  <span class="whiteC placeholder"></span>
  <span class="description">Highlight color</span>
</div>

  
    <div class="color-swatch">
  <span class="blackC placeholder"></span>
  <span class="description">Shading color</span>
</div>

  
</article>


    
    
    <article class="mix-colors mix-colors--tint">
  <h3 class="title">Tint</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-tint-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>


    
    <article class="mix-colors mix-colors--shade">
  <h3 class="title">Shade</h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="blue-shade-100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</article>

  </div>
</section>









</body>
</html>

