@mixin home__example {
  display: none;
  &--active {
    display: flex;
  }

  flex-direction: column;

  .hero {
    @include hero;
  }

  .different-section {
    @include different-section;
  }

  .call-to-action {
    @include call-to-action;
  }

  .features {
    @include features(5);
  }

  .footer {
    @include footer;
  }
}
