@mixin home__example {
  display: none;
  &--active {
    display: flex;
  }

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .big-text {
    @include big-text;
  }

  .inverted-text {
    @include inverted-text;
  }

  .different-section {
    @include different-section;
    display: none;
  }

  .call-to-action {
    @include call-to-action;
    display: none;
  }

  .tab {
    @include tab(3);
  }
}
