// Mixin colors
// - DO NOT USE html color names; for example green is #080 instead of #0f0
// - THERE IS a conflict between the RYB (CMYK) and RGB, so Green must be created by hand
// - in RGB Blue + Yellow = Gray not Green
// - http://stackoverflow.com/questions/4255973/calculation-of-a-mixed-color-in-rgb

@function color-mix($index) {
  // blue, yellow, red
  $colors: (#0000ff, #ffff00, #ff0000);

  @if ($index == 1) {
    @return $colors;
  } @else {
    // Combine all colors into a new array
    $colors: color-mix-all-colors($colors, $index);

    // Generate new colors from the combined array
    @return color-mix-new-colors($colors);
  }
}


// Returns an array of all combined colors from previous steps
//
@function color-mix-all-colors($colors, $index) {
  $all_colors: $colors;

  @for $i from 2 to $index {
    $new_colors: color-mix-new-colors(append($all_colors, nth($colors, 1)));
    $all_colors: color-mix-merge-color-arrays($all_colors, $new_colors);

    @debug($i);
    @debug($all_colors);
  }

  @return append($all_colors, nth($colors, 1));;
}



// Merging two arrays
// - (b, y, r) + (g, o, v) => (b, g, y, o, r, v)
@function color-mix-merge-color-arrays($array1, $array2) {
  $merge_colors: ();

  @for $i from 1 to length($array1) + 1 {
    $merge_colors: append($merge_colors, nth($array1, $i));
    $merge_colors: append($merge_colors, nth($array2, $i));
  }

  @return $merge_colors;
}


// Returns a new set of colors
// - (b, y, r, b) => (b+y = g, y+r = o, r+b = v)
@function color-mix-new-colors($colors) {
  $new_colors: ();

  @for $i from 1 through length($colors) - 1 {
    $new_colors: append($new_colors, mix(nth($colors, $i), nth($colors, $i + 1)));
  }

  @return $new_colors;
}
