// Mixing colors
// - mix-colors($white, $blue, 'tint', 'blue')
// - mix-colors($white, $blue, 'shade', 'blue')
@mixin mix-colors($color-1, $color-2, $type, $classname) {
  display: flex;
  flex-wrap: wrap;

  .color-swatch--rectangle {
    @include color-swatch--rectangle;
    margin-right: $lem;
  }

  @for $i from 1 to 11 {
    .#{$classname}-#{$type}-#{$i * 10} {
      background-color: mix($color-1, $color-2, $i * 10%);
    }
  }
}
