<section class="mix-colors mix-colors--">
  <h3 class="title"></h3>

  
  
  
    
    <div class="color-swatch--rectangle">
  <span class="--10 placeholder"></span>
  <span class="name">10%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--20 placeholder"></span>
  <span class="name">20%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--30 placeholder"></span>
  <span class="name">30%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--40 placeholder"></span>
  <span class="name">40%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--50 placeholder"></span>
  <span class="name">50%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--60 placeholder"></span>
  <span class="name">60%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--70 placeholder"></span>
  <span class="name">70%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--80 placeholder"></span>
  <span class="name">80%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--90 placeholder"></span>
  <span class="name">90%</span>
</div>

  
    
    <div class="color-swatch--rectangle">
  <span class="--100 placeholder"></span>
  <span class="name">100%</span>
</div>

  
</section>
