// Scale
//
// Typographic grid and scale.
// Different font sizes based on the [Modular Scale 4:3 Perfect Fourth](http://www.modularscale.com/?1&em&1.333&web&text) settings.
//
// Styleguide scale

// The default metric for sizing non-typographic elements
// - it is based on the default font size and line height
// - $lem is used for spacing elements on the webpage like margins and padding

$lem: 1.48em;




// Different typographic scales
@mixin scale($variant) {

  // The default font size and line height
  @if ($variant == 'default') {
    font-size: 100%;
    line-height: 1.48;
    
    
  }

  // Smaller than default font size with 1 scale
  @if ($variant == 'small-1') {
    font-size: 0.75em;
    
    
  }

  // Larger than default font size with 1 scale
  @if ($variant == 'large-1') {
    font-size: 1.333em;
    
    
  }

  // Larger than default font size with 2 scales
  @if ($variant == 'large-2') {
    font-size: 1.777em;
    
    
  }

  // Larger than default font size with 3 scales
  @if ($variant == 'large-3') {
    font-size: 3.157em;
    line-height: 1;
    
    
  }

  // Larger than default font size with 4 scales
  @if ($variant == 'large-4') {
    font-size: 4.209em;
    line-height: 1;
    
    
  }

  // Larger than default font size with 5 scales
  @if ($variant == 'large-5') {
    font-size: 5.61em;
    line-height: 1;
    
    
  }

}


// Typographic scale classes

.scale--default {
  font-size: 100%;
  line-height: 1.48;
  
  
}

.scale--small-1 {
  font-size: 0.75em;
  
  
}

.scale--large-1 {
  font-size: 1.333em;
  
  
}

.scale--large-2 {
  font-size: 1.777em;
  
  
}

.scale--large-3 {
  font-size: 3.157em;
  line-height: 1;
  
  
}

.scale--large-4 {
  font-size: 4.209em;
  line-height: 1;
  
  
}

.scale--large-5 {
  font-size: 5.61em;
  line-height: 1;
  
  
}

